@model Postera.WebApp.Data.Models.Tracking
@{
    Layout = "_UserLayout";
}

@section Links {
    <link rel='stylesheet' type='text/css' href='https://api.tomtom.com/maps-sdk-for-web/cdn/5.x/5.37.2/maps/maps.css'/>
}

<div id="map" class="map-container"></div>

@section Scripts    
{
    <script src='https://api.tomtom.com/maps-sdk-for-web/cdn/5.x/5.37.2/maps/maps-web.min.js'></script>
    <script>
    var coordinates = [@Model.CurrentCoordinates.Longitude, @Model.CurrentCoordinates.Latitude];
    var map = tt.map({
        container: 'map',
        key: 'sPZoYgYBxYrzQMgocfjutjv1iFLzqieI',
        center: coordinates,
        zoom: 15
    });
    var marker = new tt.Marker()
        .setLngLat(coordinates)
        .addTo(map);
</script>
}