@model SearchParameters
<div class="row">
    <div class="col-md-12">
        <h3 class="title-5 m-b-35">storage</h3>
        <div class="table-data__tool">
            <div class="table-data__tool-left">
                <button class="au-btn au-btn-icon au-btn--green au-btn--small" id="addItemButton">
                    <i class="zmdi zmdi-plus"></i>add item
                </button>
            </div>
        </div>
        <div class="table-responsive table-responsive-data2">
            <table class="table table-data2">
                <thead>
                    <tr>
                        <th>name</th>
                        <th>square, m3</th>
                        <th>type</th>
                        <th>city</th>
                        <th>address</th>
                    </tr>
                </thead>
                <tbody id="itemsList">
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        getStorages("@Model.Type", "@Model.Id");
        registerAddModal("@Model");
    </script>
}