@model Postera.WebApp.Data.Models.PriceModel
@{
    Layout = "_UserLayout";
}

<div class="row">
    <h3 class="title-4 m-b-20">Price calculation</h3>
</div>
<div class="spacer"></div>
<div id="priceResult" class="row"></div>
<div class="spacer"></div>
<div class="row">
    @{ await Html.RenderPartialAsync("CalculatePricePartial"); }
</div>

@section Scripts {
    <script>
        priceModule.registerEvents();
        
        let sectionSelector = "#packages";
        let elementSelector = "package-section";
        collectionItemsElementModule.registerAddButton("#addItem", "/packages/section", sectionSelector, elementSelector)
        collectionItemsModule.registerOnSubmitEvent(sectionSelector, elementSelector, "packages", submitEventHandlers.onPriceCalculate);
    </script>
}