@model Guid
@{
    ViewData["Title"] = "OrdersTemplate";
    Layout = "_Layout";
}

<div class="row w-100">
    <div class="col-lg-12">
        <h2 class="title-1 m-b-25">Latest Orders</h2>
        <div class="table-responsive table--no-card m-b-40">
            <table class="table table-borderless table-striped table-earning">
                <thead>
                <tr>
                    <th>date</th>
                    <th>order ID</th>
                    <th class="text-right">total</th>
                </tr>
                </thead>
                <tbody id="orders">
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        getOrders("@Model", "postOffice");
        registerOrderModal();
    </script>
}